
.app-download {
   
    padding: 40px 20px;
    text-align: center; 
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 40px auto;
}

.app-download p {
    font-size: 34px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.5;   
}

.app-download-platform {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.app-download-platform img {
    width: max(30vw , 120px);
    max-width: 180px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.app-download-platform img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .app-download {
        padding: 20px 10px;
    }

    .app-download p {
        font-size: 20px;
    }

   

   
}